@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url('../assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 375px) {
    #hero {
      background-image: url('../assets/images/background-pattern-mobile.svg');
      background-position: center;
    }
  }
  .card {
    @apply container mx-auto flex justify-center;
  }
  .flex-container {
    @apply flex flex-col space-y-5 py-6 px-4 bg-white rounded-lg -mt-[9.5rem] w-[22rem] md:w-auto;
  }
  p {
    @apply text-sm text-grayishPurple tracking-wider md:tracking-normal;
  }
  .FAQ-container {
    @apply flex items-center justify-between py-2 shadow-md rounded-md px-2 space-x-2;
  }
  h4 {
    @apply text-sm text-left active:text-grayishPurple font-bold;
  }
